Package: oracular-wallpapers-custom
Version: 1.0-1
Architecture: all
Maintainer: Gorbiel <mail.gorbiel@gmail.com>
Installed-Size: 9219
Depends: ubuntu-wallpapers-oracular
Section: x11
Priority: optional
Homepage: https://github.com/Gorbiel/oracular-wallpapers-custom
Description: Oracular Oriole wallpapers for GNOME
 Dynamic and static wallpapers from Ubuntu 24.10 "Oracular Oriole",
 including light, default, dimmed, and dark variants with a 24-hour
 dynamic background.
